# Cache of project
.gradletasknamecache

# Build and Bins
.gradle/
gradle/
build/
bin/
out/
run/*

# IDEs
.classpath
.project
.settings/
eclipse/
.idea/
*.iml
*.ipr
*.iws

# System
Thumbs.db
\ No newline at end of file